<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OnlineJudge</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
  </style>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">OnlineJudge</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/problems">Problems</a></li>
                <li><a href="/submissions">Submissions</a></li>
                <li><a href="/contests">Contests</a></li>
            </ul>
        </div>
        {% if not request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user"><span class="glyphicon glyphicon-user">{{ request.user.username }}</span></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        {% endif %}
        </div>
</nav>

<div class="container-fluid">

<div class="container">
<div class="row">
    <div class="row">
        <div class="col-md-3 text-md-left">{{ contest.start_time }}</div>
        <div class="col-md-6 text-md-center"><strong>{{ contest.name }}</strong></div>
        <div class="col-md-3 text-md-right">{{ contest.end_time }}</div>
    </div>
    <div class="row">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>
    </div>
</div>
</div>


</div>

</body>
</html>