<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>OnlineJudge</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
  </style>
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">OnlineJudge</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/problems">Problems</a></li>
                <li><a href="/submissions">Submissions</a></li>
                <li><a href="/contests">Contests</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        {% if not request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user"><span class="glyphicon glyphicon-user">{{ request.user.username }}</span></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        {% endif %}
        </div>
</nav>

{% if request.GET.login == "success" %}
<div class="alert alert-success">
    <span class="glyphicon glyphicon-ok"></span>
    <strong>Success!</strong> Welcome ! {{ request.user.username }}.
</div>
{% endif %}

<div class="jumbotron text-center" style="margin-bottom:0">
  <h2>Welcome to onlineJudge V1.0</h2> 
</div>


</body>
</html>