<div class="text-center">
<ul class="pagination">
    {% if page == 1 %}
        <li class="disabled"><a href="?page=1">Previous</a></li>
    {% else %}
        <li><a href="?page={{page|add:'-1'}}">Previous</a></li>
    {% endif %}

    {% if page > 3 %}
         <li class="disabled"><a href="#">...</a></li>
    {% endif %}

    {% for cpage in show_pages %}
        {% if cpage > 0 and cpage <= last_page %}
            {% if cpage == page %}
                <li class="active"><a href="?page={{ cpage }}">{{ cpage }}</a></li>
            {% else %}
                <li><a href="?page={{ cpage }}">{{ cpage }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if show_pages|last < last_page %}
        <li class="disabled"><a href="#">...</a></li>
    {% endif %}


    {% if page == last_page %}
        <li class="disabled"><a href="?page={{page|add:'1'}}">Next</a></li>
    {% else %}
        <li><a href="?page={{page|add:'1'}}">Next</a></li>
    {% endif %}
</ul>
</div>